<h1>View Your Pending Orders!</h1>

<ul>
{{#each order}}
<div id = {{this._id}}>{{this.ingredients}}: ${{this.price}}
  <form class = "orderForm" id = {{this._id}}>
    <input type = "submit" value = "Completed">
  </form>
</div>
{{/each}}
</ul>
